#header-nav{
  background-color: #D3D3D3;
  border: 0;
  border-radius: 0;
  
}

.navbar-header h1 { /* Restaurant name */
font-family: 'Lora', serif;
  color: black;
  font-size:2em;
 font-weight: bold;
 padding:20px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-header a:hover, .navbar-header a:focus{
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  margin-top: 18px;
}
#menu{
  font-family: Comic Sans MS, Comic Sans, cursive;
  margin-bottom:20px;
  padding-bottom: 30px;
  font-weight: bold;
}
#contentlist{
  font-family: 'Lora', serif;
  width: 100%
  height:150px;
  margin: 2px;
  font-weight: bold;
  margin-top:8px;
  background-color: #D3D3D3;
  padding-top: 5px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;
  }


  #nav-list{
    margin-top: 0;
    margin-bottom: 0;


}

#nav-list a{
  color:black;
   font-family: 'Lora', serif;
    font-style: bold;
    font-size: 25px;
    background-color: white;
  text-align: center;

  

}

#nav-list a:hover {
background: #E7E7E7;
}
.line{
  padding-top:0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-top:2px solid black;
  color: black;

}

#listitem
{
  border:5px;
  border-color: black;

  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  color: black;
  padding-top: 2px;
}
/********** Large devices only **********/
@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

} 
@media (min-width: 100px) and  (max-width:767px){
  .navbar-header { /* Restaurant name */
   padding-top:19 px;
    font-size:3vw; /* 1vw = 1% of viewport width */
}

#contentlist{
  margin-right: 30px;
  margin-left:30px;
}

  
}
